@font-face {
    font-family: "Nocturno Display";
    src: url("https://type.persona.co/NocturnoDisplay/acd5fd26-3266-47be-b47b-2b1089501373-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    unicode-range: U+0000-DFFF, U+F900-FFFD;
  }
  @font-face {
    font-family: "Nocturno Display";
    src: url("https://type.persona.co/NocturnoDisplay/cb45dd4c-9a52-4296-a7ac-736cd8826816-3.woff") format("woff");
    font-style: italic;
    font-weight: normal;
    unicode-range: U+0000-DFFF, U+F900-FFFD;
  }
  @font-face {
    font-family: "Nocturno Display";
    src: url("https://type.persona.co/NocturnoDisplay/f3a4061c-c833-46cf-ae3e-6000c8633f16-3.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    unicode-range: U+0000-DFFF, U+F900-FFFD;
  }
  @font-face {
    font-family: "Nocturno Display";
    src: url("https://type.persona.co/NocturnoDisplay/5943c4cb-b6d2-4995-8ec1-bb1f20f6e01d-3.woff") format("woff");
    font-style: italic;
    font-weight: bold;
    unicode-range: U+0000-DFFF, U+F900-FFFD;
  }


  @font-face {
    font-family: "Marat Sans";
    src: url("https://type.persona.co/MaratSans/b56fe788-c31c-411d-bf2e-4417394938e4-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
    font-family: "Marat Sans";
    src: url("https://type.persona.co/MaratSans/58bb92d5-2af2-4db1-a05a-c8d927455beb-3.woff") format("woff");
    font-style: italic;
    font-weight: normal;
    unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
    font-family: "Marat Sans";
    src: url("https://type.persona.co/MaratSans/00cfb6b8-aa2d-46aa-a5c6-88c5e6d8bece-3.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    unicode-range: U+0000-DFFF, U+F900-FFFD;
}
@font-face {
    font-family: "Marat Sans";
    src: url("https://type.persona.co/MaratSans/d245e519-e32b-47d2-95db-68adf0f567fd-3.woff") format("woff");
    font-style: italic;
    font-weight: bold;
    unicode-range: U+0000-DFFF, U+F900-FFFD;
}

:root {
    --primary-color: #302A18;
    --secondary-color: #fde4c3;
    --gradient: linear-gradient(135deg, #302A18, #fde4c3);
}

body {
    font-family: 'Marat Sans',Helvetica,Arial,sans-serif;
    max-width: 1500px;
    margin: auto;
    background: #302A18;
    color: #f6f6f6;
    animation: bodyFadeIn 2s forwards;
    font-size: 20px;
}


header {
    margin-top: -20px;
    padding: 20px;
    transition: background 0.3s ease;
    box-shadow: 0 1px 0 0 var(--secondary-color);
}

header h1 {
    font-family: 'Nocturno Display',Helvetica,Arial,sans-serif;
    font-size: 44px;
    font-weight: 700;
    display: inline-block;
    color: var(--secondary-color);
    transition: color 0.3s ease;
    margin-left: 30px;
}

header h1 a {
    display: inline-block;
    color: var(--secondary-color);
    text-decoration: none;
}

header h1 a:hover {
    display: inline-block;
    text-decoration: underline;
    transition: color 0.3s ease;
}


nav {
    font-size: 22px;
    margin-top: 30px;
    float: right;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
}

footer {
    background: #675a3543;
    text-align: center;
    padding: 1px;
    margin-top: 10px;
    color: #fcf4f4c4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
}

#showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding: 50px;
}

.flip-card {
    width: 300px;
    height: 450px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #302a18;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    color: #1c1c1c;
}

.flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.flip-card-back {
    color: #f6f6f6;
    transform: rotateY(180deg);
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

#intro {
    margin-left: 50px;
    margin-bottom: 120px;
    margin-top: 50px;
}

#intro h2 {
    font-family: 'Nocturno Display',Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #f6f6f6;
}

#intro p {
    font-family: 'Marat Sans',Helvetica,Arial,sans-serif;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 20px;
}


.form-styled {
    background-color: #675a35;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
}


.form-group {
    margin-bottom: 15px;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
}


.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f6f6f6;
    color: #000;
}


.form-group textarea {
    height: 60px;
    resize: vertical; 
}


.form-group-button {
    text-align: left;
    margin-bottom: 15px;
}

.form-group-button button[type="submit"] {
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    color: #302a18;
    background-color: #fde4c3;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-group-button button[type="submit"]:hover {
    background-color: #302a18;
    color: #fde4c3;
}


.form-group-button button[type="button"] {
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    color: #302a18;
    background-color: #f69898;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.form-group-button button[type="button"]:hover {
    background-color: #d31f1f;
    color: #fde4c3;
}


.form-group-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-group-inner {
    display: flex;
    flex-direction: column;
}

#name, #theatre {
    width: 280px;
}

#description {
    width: 580px;
    height: 100px;
}

#end_date, #genre, #duration {
    width: 136px;
    margin-right: 10px;
}

#price {
    width: 36px;
}

#poster {
    width: 580px;
}

#show_bg {
    position: relative;
    width: 100%;
    min-height: 800px; /* Set a minimum height */
}

#show_bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), #302A18),
        url('https://assets.playbill.com/editorial/(L-R)%20Jasmine%20Beel,%20Vivian%20Panka,%20Erin%20Caldwell,%20Maddison%20Firth%20-%20Heathers%20-%20The%20Other%20Palace%20-%20Autumn%202022%20-%20Photo%20Credit%20Pamela%20Raith.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

#content {
    padding: 20px;
    color: white;
    position: relative;
}
